.create-user-container {
  width: 400px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-user-form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.create-user-form input,
.create-user-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.create-user-form button {
  width: 100%;
  padding: 12px;
  background: #0a0f24;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
}

.create-user-form button:hover {
  background: #11183a;
}
